<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Missoin to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Explore Mars</h1>
      <p>Find information about Mars</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h2>The latest Mars news is:</h2>
    <h3>{{ mars_info.title }}</h3>
    <h3>{{ mars_info.newsp }}</h3>
  </div>

  <div class="col-lg-12" >
    <div class="dataframe" style="justify-content: space-evenly;">
      <table border="1" class="dataframe">
        <thead>
          <tr style="text-align: right;">
            <th></th>
            <th>Facts</th>
          </tr>
          <tr>
            <th>Features</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Equatorial Diameter:</th>
            <td>6,792 km</td>
          </tr>
          <tr>
            <th>Polar Diameter:</th>
            <td>6,752 km</td>
          </tr>
          <tr>
            <th>Mass:</th>
            <td>6.39 × 10^23 kg (0.11 Earths)</td>
          </tr>
          <tr>
            <th>Moons:</th>
            <td>2 (Phobos &amp; Deimos)</td>
          </tr>
          <tr>
            <th>Orbit Distance:</th>
            <td>227,943,824 km (1.38 AU)</td>
          </tr>
          <tr>
            <th>Orbit Period:</th>
            <td>687 days (1.9 years)</td>
          </tr>
          <tr>
            <th>Surface Temperature:</th>
            <td>-87 to -5 °C</td>
          </tr>
          <tr>
            <th>First Record:</th>
            <td>2nd millennium BC</td>
          </tr>
          <tr>
            <th>Recorded By:</th>
            <td>Egyptian astronomers</td>
          </tr>
        </tbody>
      </table>
      <div class="container-fluid">
        <div class="col-md-7">
          <hr>
          <img src="{{mars_info.featured_image_url}}" alt="featured image">
        </div> 
      </div>
      <hr>
      <div> class="container-fluid">
        <div class="col-md-4">
          <div>
            {% for hemisphere in mars_info.hemispheres_info %}
            <img src="{{hemisphere.img_url}}">
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  
  </div>
</body>

</html>
